---
// src/pages/admin.astro

import CMS from 'decap-cms';
// Initialize CMS
---
<html>
<head>
  <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
</head>
<body>
  <script>
    CMS.init();
    CMS.registerPreviewStyle('/styles/main.css');
  </script>
</body>
</html>